<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ '/css/cool.css' | url }}">
</head>
<body class="cool-styles cool-layout-single-column">
  <header data-grid-area="header">
    <h1>cool.css</h1>
  </header>
  <main data-grid-area="main">
    <h2>{{ title }}</h2>

    {{ content | safe }}
  </main>
  <footer data-grid-area="footer">
    <p>Made with ❤️ by <a href="https://mikeaparicio.com">Mike Aparicio</a></p>
  </footer>
</body>
</html>