@use '../abstracts/tokens' as *;

@media (min-width: $breakpoint-medium) {
  .#{$prefix} {
    &-left {
      float: left;
      margin-right: $spacing-16;
    }
    &-right {
      float: right;
      margin-left: $spacing-16;
    }
  }
}