.#{$prefix} {
  &-bordered {
    border: $border-width-default solid $color-border-default;
  }
  &-border-bottom {
    border-bottom: $border-width-default solid $color-border-default;
  }
  &-border-top {
    border-top: $border-width-default solid $color-border-default;
  }
} 