.#{$prefix}-styles {
  label {
    font-weight: 600;
    display: block;

    [type="checkbox"] + span,
    [type="radio"] + span {
      font-weight: 400;
    }
  }

  fieldset {
    border: 0;
  }

  legend {
    font-weight: 600;
  }
}