.#{$prefix} {
  &-heading-1 {
    font-size: $heading-1-font-size;
    line-height: $heading-1-line-height;
  }
  &-heading-2 {
    font-size: $heading-2-font-size;
    line-height: $heading-2-line-height;
  }
  &-heading-3 {
    font-size: $heading-3-font-size;
    line-height: $heading-3-line-height;
  }
  &-heading-4 {
    font-size: $heading-4-font-size;
    line-height: $heading-4-line-height;
  }
  &-text-large {
    font-size: $text-large-font-size;
    line-height: $text-large-line-height;
  }
  &-text-medium {
    font-size: $text-medium-font-size;
    line-height: $text-medium-line-height;
  }
  &-text-small {
    font-size: $text-small-font-size;
    line-height: $text-small-line-height;
  }
  &-text-subdued {
    color: $color-text-subdued;
  }
  &-text-error {
    color: $color-text-error;
  }
  &-text-strong {
    font-weight: $font-weight-bold;
  }
  &-text-brand {
    color: $color-text-brand;
  }
}
a.#{$prefix}-text-inherit {
  color: inherit;
}

a.#{$prefix}-chevron-link {
  display: inline-flex;
  align-items: center;
  &:after {
    content: "";
    display: block;
    width: .5em;
    height: .5em;
    background-image: $icon-chevron-right-blue;
    margin-left: $spacing-4;
    position: relative;
    top: .125em;
  }
}

a.#{$prefix}-chevron-link.#{$prefix}-text-inherit {
  &:after {
    background-image: $icon-chevron-right-black;
  }
}