.#{$prefix}-layout-header-main-footer {
  background-color: $color-background-surface;  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 1600px;
  margin: 0 auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";

  [data-grid-area="header"] {
    grid-area: header;
  }
  [data-grid-area="main"] {
    grid-area: main;
    padding: 0 0 100px 0;

    > section {
      max-width: 800px;
      margin: 0 auto;
      padding: 100px 0;
    }

    > :not(section):not([class*="#{$prefix}-layout-collage"]) {
      width: 83.33%;
      margin: 0 auto;
    }
  }
  [data-grid-area="footer"] {
    grid-area: footer;
    padding: 100px 8.33%;
  }
}

