@font-face {
  font-family: Futura;
  src: url('/makeovers/ableton/assets/futura-pt-book.woff2');
  font-weight: 400;
  display: swap;
}
@font-face {
  font-family: Futura;
  src: url('/makeovers/ableton/assets/futura-pt-medium.woff2');
  font-weight: 700;
  display: swap;
}