// Add this class to the <body> or the next highest element in the DOM containing your styles.

.#{$prefix}-styles {
  font-family: $font-family;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
  background-color: $color-background-default;

  img,
  svg {
    display: block;
  }
  figure img,
  figure video,
  figure picture {
    width: 100%;
  }
  a {
    color: $color-text-interactive;
    text-decoration: none;
    text-underline-offset: 2px;
    
    // &:hover {
    //   color: $color-text-interactive-hover;
    // }
  }
  code {
    display: inline-block;
    font-size: .875em;
    line-height: 1.5em;
    color: $color-text-inverse;
    background-color: $color-blue-600;
    border-radius: $border-radius-medium;
    padding: 0 $spacing-8;
  }
  pre {
    background-color: $color-gray-800;
    color: $color-text-inverse;
    padding: $spacing-16;
    border-radius: $border-radius-medium;
  }
  blockquote {
    padding: $spacing-16 $spacing-32;
    font-size: $text-large-font-size;
    line-height: $text-large-line-height;
    border: solid $color-border-default;
    border-width: $border-width-default 0;
  }
  table {
    border-collapse: collapse;
  }
  th, caption {
    text-align: left;
  }
  figcaption {
    font-size: $text-medium-font-size;
    line-height: $text-medium-line-height;
    padding: $spacing-4 0;
  }
  ul, ol {
    padding-left: 1em;
  }
}
