.#{$prefix}-styles,
.#{$prefix}-styles *,
.#{$prefix}-styles *::before,
.#{$prefix}-styles *::after {
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin: unset;
  padding: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.#{$prefix}-styles {
  text-rendering: optimizeSpeed;

  // not sure if this can be applied to body instead of html
  &:focus-within {
    scroll-behavior: smooth;
  }

  a[class] {
    text-decoration: none;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
    padding: 0;
  }

  // move this to list styles
  dt {
    font-weight: 600;
  }

  img,
  video,
  picture {
    max-width: 100%;
    display: block;
  }

  // whoops we inherited the body font above
  code,
  pre {
    font-family: monospace;
  }

  pre {
    white-space: pre-wrap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .#{$prefix}-styles {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }

    &:focus-within {
      scroll-behavior: auto;
    }
  }
}