@use '../abstracts/tokens' as *;
@use '../abstracts/icons' as *;

.#{$prefix}-styles {
  label:not(.#{$prefix}-form-control) {
    font-weight: $form-label-font-weight;
    display: block;
    margin-bottom: $form-label-margin;

    [type="checkbox"] + span,
    [type="radio"] + span {
      font-weight: $form-control-font-weight;
    }
  }

  fieldset {
    border: 0;
  }

  legend {
    font-weight: $form-label-font-weight;
  }
}

.#{$prefix} {
  &-input {
    --form-field-width: #{$form-field-width-default};
    appearance: none;
    background-color: $form-field-background-color;
    border: $form-field-border;
    border-radius: $form-field-border-radius;
    font-size: $form-field-font-size;
    line-height: $form-field-line-height;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: var(--form-field-width, $form-field-width-default);
    }

    &:not(.#{$prefix}-select) {
      padding: $form-field-padding;
    }

    &:is(select) {
      background-image: $icon-arrow-down;
      background-size: $form-field-arrow-size;
      background-position: center right $form-field-arrow-inset;

      &:disabled {
        color: $form-field-disabled-text-color;
      }
    }

    &:focus {
      border-color: $color-border-focus;
      box-shadow: $shadow-focus;
      outline: $border-width-thick solid transparent;
    }

    &:disabled {
      border-color: $color-border-disabled;
      background-color: $color-background-disabled;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $color-text-subdued;
    }
  }

  &-form-control {
    display: grid;
    align-items: center;
    grid-template-columns: $form-control-size 1fr;
    grid-gap: $form-field-padding;

    &:not(:last-child) {
      margin-bottom: $form-label-margin;
    }

    input {
      appearance: none;
      width: $form-control-size;
      height: $form-control-size;
      border: $form-field-border;
      position: relative;

      &[type="radio"] {
        border-radius: 50%;
      }

      &[type="checkbox"] {
        border-radius: $form-control-checkbox-radius;
      }

      &:focus {
        border-color: $color-border-focus;
        box-shadow: $shadow-focus;
        outline: $border-width-thick solid transparent;
      }

      &:checked {
        border-color: $form-control-border-color;

        &[type="radio"]:before {
          content: "";
          display: block;
          width: $form-control-size-inner;
          height: $form-control-size-inner;
          background-color: $form-control-background;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        &[type="checkbox"] {
          background-color: $form-control-background;
          background-image: $icon-checkbox;
          background-size: $form-control-size-inner;
          background-position: 50% 50%;
        }
      }

      &:disabled {
        background-color: $color-background-disabled;
        border-color: $color-border-disabled;

        & + span {
          color: $color-text-subdued;
        }
      }
    }
  }

  &-button {
    display: inline-block;
    appearance: none;
    border: $button-border;
    border-radius: $button-border-radius;
    padding: $button-padding;
    margin: 0;
    background-color: $button-background;
    color: $button-text-color;
    font-size: $button-font-size;
    line-height: $button-line-height;
    cursor: pointer;

    &:focus {
      border-color: $color-border-focus;
      box-shadow: $shadow-focus;
      outline: $border-width-thick solid transparent;
    }

    &:hover {
      background-color: $button-background-highlight;
    }
  }
}