@use '../abstracts/tokens' as *;

.#{$prefix}-nav-list {
  margin: 0;

  a {
    color: $color-text-subdued;
    text-decoration: none;
  }
  
  a:hover {
    color: $color-text-interactive;
    text-decoration: underline;
  }
}