[class*=#{$prefix}-flex-row] {
  display: flex;
  align-items: center;

  & :not(:last-child) {
    margin-right: $spacing-16;
  }
}

[class*=#{$prefix}-flex-row-responsive] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & :not(:last-child) {
    margin-bottom: $spacing-16;
  }
}

.#{$prefix} {
  &-flex-row {
    &-8 :not(:last-child) {
      margin-right: $spacing-8;
    }
    &-4 :not(:last-child) {
      margin-right: $spacing-4;
    }  
  }
  &-flex-row-responsive {
    &-8 :not(:last-child) {
      margin-bottom: $spacing-8;
    }
    &-4 :not(:last-child) {
      margin-bottom: $spacing-4;
    }     
  }
}

@media (min-width: $breakpoint-medium) {
  .#{$prefix} {
    &-space-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      > :not(last-child) {
        margin-right: $spacing-16;
      }
    }
  }
  [class*=#{$prefix}-flex-row-responsive] {
    flex-direction: row;

    & :not(:last-child) {
      margin-right: $spacing-16;
    }
  }
  .#{$prefix} {
    &-flex-row-responsive {
      & :not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-16;       
      }
      &-8 :not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-8;
      }
      &-4 :not(:last-child) {
        margin-bottom: 0;
        margin-right: $spacing-4;
      }     
    }
  }
}