.#{$prefix}-center-all {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  > * {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
  }
}