.#{$prefix} {
  &-flow-16 > :not(:last-child) {
    margin-bottom: $spacing-16;
  }

  &-flow-24 > :not(:last-child) {
    margin-bottom: $spacing-24;
  }

  &-stack-16 {
    margin-bottom: $spacing-16;
  }

  @media (min-width: $breakpoint-medium) {
    &-half-width {
      width: 50%;
    }
  }
}