.cool-styles,
.cool-styles *,
.cool-styles *::before,
.cool-styles *::after {
  box-sizing: border-box;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin: unset;
  padding: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.cool-styles {
  text-rendering: optimizeSpeed;
}
.cool-styles:focus-within {
  scroll-behavior: smooth;
}
.cool-styles a[class] {
  text-decoration: none;
}
.cool-styles a:not([class]) {
  text-decoration-skip-ink: auto;
}
.cool-styles ul[role=list],
.cool-styles ol[role=list] {
  list-style: none;
}
.cool-styles dt {
  font-weight: 600;
}
.cool-styles img,
.cool-styles video,
.cool-styles picture {
  max-width: 100%;
  display: block;
}
.cool-styles code,
.cool-styles pre {
  font-family: monospace;
}

@media (prefers-reduced-motion: reduce) {
  .cool-styles *,
.cool-styles *::before,
.cool-styles *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  .cool-styles:focus-within {
    scroll-behavior: auto;
  }
}
.cool-styles {
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.cool-styles figure img,
.cool-styles figure video,
.cool-styles figure picture {
  width: 100%;
}
.cool-styles a {
  color: #046b9a;
  text-underline-offset: 2px;
}
.cool-styles a:hover {
  color: #1c304a;
}
.cool-styles code {
  display: inline-block;
  font-size: 0.875em;
  line-height: 1.5em;
  color: #ffffff;
  background-color: #046b9a;
  border-radius: 4px;
  padding: 0 0.5rem;
}
.cool-styles pre {
  background-color: #18191b;
  color: #ffffff;
  padding: 1rem;
  border-radius: 4px;
}
.cool-styles blockquote {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
  border: solid #6a7981;
  border-width: 1px 0;
}
.cool-styles table {
  border-collapse: collapse;
}
.cool-styles th, .cool-styles td {
  padding: 0.25rem 0.5rem;
  border: 1px solid #6a7981;
}
.cool-styles th, .cool-styles caption {
  text-align: left;
}
.cool-styles caption {
  padding: 0.25rem 0;
}
.cool-styles figcaption {
  padding: 0.25rem 0;
}
.cool-styles ul, .cool-styles ol {
  padding-left: 1em;
}

.cool-styles label:not(.cool-form-control) {
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}
.cool-styles label:not(.cool-form-control) [type=checkbox] + span,
.cool-styles label:not(.cool-form-control) [type=radio] + span {
  font-weight: 400;
}
.cool-styles fieldset {
  border: 0;
}
.cool-styles legend {
  font-weight: 600;
}

.cool-input {
  appearance: none;
  --form-field-width: 30ch;
  background-color: #ffffff;
  border: 2px solid #6a7981;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 100%;
  width: var(--form-field-width, 30ch);
  min-height: 44px;
}
.cool-input:not(textarea) {
  line-height: 1.5;
}
.cool-input:not(.cool-select) {
  padding: 0.5rem;
}
.cool-input:is(textarea) {
  line-height: 1.5rem;
}
.cool-input:is(select) {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'%3E%3Cpath d='M0 0h8L4 5z' fill='%236A7981'/%3E%3C/svg%3E%0A");
  background-size: auto 20%;
  background-position: center right 0.5rem;
}
.cool-input:is(select):disabled {
  color: #6a7981;
}
.cool-input:focus {
  border-color: #046b9a;
  box-shadow: 0 0 0.35em -0.1em #046b9a;
  outline: 2px solid transparent;
}
.cool-input:disabled {
  border-color: #bcc1c2;
  background-color: #e4e6e7;
  cursor: not-allowed;
}
.cool-input::placeholder {
  color: #6a7981;
}
.cool-form-control {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5rem 1fr;
  grid-gap: 0.5rem;
}
.cool-form-control:not(:last-child) {
  margin-bottom: 0.25rem;
}
.cool-form-control input {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #6a7981;
  position: relative;
}
.cool-form-control input[type=radio] {
  border-radius: 50%;
}
.cool-form-control input[type=checkbox] {
  border-radius: 2px;
}
.cool-form-control input:focus {
  border-color: #046b9a;
  box-shadow: 0 0 0.35em -0.1em #046b9a;
  outline: 2px solid transparent;
}
.cool-form-control input:checked {
  border-color: #046b9a;
}
.cool-form-control input:checked[type=radio]:before {
  content: "";
  display: block;
  width: calc(1.5rem - 8px);
  height: calc(1.5rem - 8px);
  background-color: #046b9a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cool-form-control input:checked[type=checkbox] {
  background-color: #046b9a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M12 30c-.5 0-1-.2-1.4-.6l-8-8c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0l6.3 6.3 14.6-22c.6-.9 1.9-1.2 2.8-.6.9.6 1.2 1.9.6 2.8l-16 24c-.3.5-.9.8-1.5.9H12z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
  background-size: calc(1.5rem * .65) calc(1.5rem * .65);
  background-position: 50% 50%;
}
.cool-form-control input:disabled {
  background-color: #e4e6e7;
  border-color: #bcc1c2;
}
.cool-form-control input:disabled + span {
  color: #6a7981;
}
.cool-button {
  display: inline-block;
  appearance: none;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 0;
  background-color: #046b9a;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}
.cool-button:focus {
  border-color: #046b9a;
  box-shadow: 0 0 0.35em -0.1em #046b9a;
  outline: 2px solid transparent;
}
.cool-button:hover {
  background-color: #1c304a;
}

.cool-nav-list a {
  color: #6a7981;
  text-decoration: none;
}
.cool-nav-list a:hover {
  color: #046b9a;
  text-decoration: underline;
}

.cool-heading-1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.cool-heading-2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.cool-heading-3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.cool-heading-4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.cool-text-large {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.cool-text-medium {
  font-size: 1rem;
  line-height: 1.5rem;
}
.cool-text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.cool-text-subdued {
  color: #6a7981;
}
.cool-text-error {
  color: #e12d4b;
}

.cool-flow-16 > :not(:last-child) {
  margin-bottom: 1rem;
}
.cool-flow-24 > :not(:last-child) {
  margin-bottom: 1.5rem;
}
.cool-stack-16 {
  margin-bottom: 1rem;
}

[class*=cool-flex-row] {
  display: flex;
  align-items: center;
}

.cool-flex-row :not(:last-child) {
  margin-right: 1rem;
}
.cool-flex-row-8 :not(:last-child) {
  margin-right: 0.5rem;
}
.cool-flex-row-4 :not(:last-child) {
  margin-right: 0.25rem;
}

@media (min-width: 700px) {
  .cool-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cool-space-between > :not(last-child) {
    margin-right: 1rem;
  }
}
.cool-layout-single-column {
  max-width: calc(200px + 75ch);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.cool-layout-single-column [data-grid-area=header],
.cool-layout-single-column [data-grid-area=main],
.cool-layout-single-column [data-grid-area=footer] {
  padding: 1rem;
}
.cool-layout-single-column article {
  max-width: 75ch;
}

.cool-layout-two-column-aside-main {
  max-width: calc(200px + 75ch);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header" "main" "aside" "footer";
}
.cool-layout-two-column-aside-main [data-grid-area=header],
.cool-layout-two-column-aside-main [data-grid-area=aside],
.cool-layout-two-column-aside-main [data-grid-area=main],
.cool-layout-two-column-aside-main [data-grid-area=footer] {
  padding: 1rem;
}
.cool-layout-two-column-aside-main [data-grid-area=header] {
  grid-area: header;
}
.cool-layout-two-column-aside-main [data-grid-area=aside] {
  grid-area: aside;
}
.cool-layout-two-column-aside-main [data-grid-area=main] {
  grid-area: main;
}
.cool-layout-two-column-aside-main [data-grid-area=footer] {
  grid-area: footer;
}
.cool-layout-two-column-aside-main article {
  max-width: 75ch;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@media (min-width: 700px) {
  .cool-layout-two-column-aside-main {
    min-height: 100vh;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main aside" "footer footer";
  }
}
