/* Error: Undefined variable.
 *    ,
 * 26 |     background-color: $form-field-background-color;
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _src/sass/components/_forms.scss 26:23  @import
 *   _src/sass/cool.scss 5:9                 @import
 *   _src/sass/site.scss 1:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502      background-color: $form-field-background-color;\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _src/sass/components/_forms.scss 26:23  @import\a   _src/sass/cool.scss 5:9                 @import\a   _src/sass/site.scss 1:9                 root stylesheet";
}
