// all of your selectors will be prefixed with this.
$prefix: cool;

$spacing-16: 1rem;
$spacing-32: 2rem;

$text-medium-font-size: 1rem;
$text-medium-line-height: 1.5rem;

$font-family: sans-serif;

$container-max-width: 1080px;
$max-line-length: 75ch;

