// all of your selectors will be prefixed with this.
$prefix: cool;

$spacing-16: 1rem;
$spacing-32: 2rem;

$text-medium-font-size: 1rem;
$text-medium-line-height: 1.5rem;

$font-family: sans-serif;

$max-line-length: 75ch;
$sidebar-width: 200px;
$container-max-width: calc(#{$sidebar-width} + #{$max-line-length});

$color-text-interactive: blue;

$breakpoint-medium: 700px;
