@use '../abstracts/tokens' as *;

// Add this class to the <body> or the next highest element in the DOM containing your styles.

.#{$prefix}-styles {
  font-family: $font-family;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
  background-color: $color-background-default;

  figure img,
  figure video,
  figure picture {
    width: 100%;
  }

  :where(a) {
    color: $color-text-interactive;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
    
    &:hover {
      color: $color-text-interactive-hover;
    }
  }

  code {
    display: inline-block;
    font-size: .875em;
    line-height: 1.5em;
    color: $color-text-inverse;
    background-color: $color-gray-800;
    border-radius: $border-radius-medium;
    padding: 0 $spacing-8;
  }
  pre {
    background-color: $color-gray-800;
    color: $color-text-inverse;
    padding: $spacing-16;
    border-radius: $border-radius-medium;
    white-space: pre-line;
  }
  table {
    border-collapse: collapse;
  }
  th, caption {
    text-align: left;
  }
  ul, ol {
    padding-left: 1em;
  }
}
