@use '../abstracts/tokens' as *;

// Add this class to the <body> or the next highest element in the DOM containing your styles.

.#{$prefix}-styles {
  font-family: $font-family;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
  background-color: $color-background-default;

  figure img,
  figure video,
  figure picture {
    width: 100%;
  }

  :where(a) {
    color: $color-text-interactive;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
    
    &:hover {
      color: $color-text-interactive-hover;
    }
  }

  code {
    display: inline-block;
    font-size: $text-small-font-size;
    line-height: inherit;
    font-weight: $font-weight-semibold;
    color: $color-text-body;
    background-color: $color-background-subdued;
    border-radius: $border-radius-medium;
    padding: 0 $spacing-4;
  }
  pre {
    background-color: $color-gray-800;
    color: $color-text-inverse;
    padding: $spacing-16;
    border-radius: $border-radius-medium;
    white-space: pre-line;
  }
  table {
    border-collapse: collapse;
  }
  th, caption {
    text-align: left;
  }
  ul, ol {
    padding-left: $spacing-16;
  }
  summary {
    font-weight: $font-weight-semibold;
    color: $color-text-interactive;
    cursor: pointer;
    list-style: none;
  }
  details summary:before {
    content: "\002b";
    display: inline-block;
    width: $spacing-16;
    font-size: $text-large-font-size;
  }
  details[open] summary:before {
    content: "\002d";
  }
}
